/* Body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

/* Header */
header {
    background: #0077cc;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

/* Nav */
nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: #333;
}

/* Nav links */
.nav-button,
.dropbtn,
.dropdown-content a {
    font-size: 16px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    background-color: #f9f9f9;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#main-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

/* Hero section */
.hero {
    position: relative;
    z-index: 0;
}

.hero-bg {
    width: 100%;
    height: auto;
    display: block;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

/* City links */
.city-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.city {
    flex: 1 1 30%;
    margin: 10px;
    overflow: hidden;
    position: relative;
    height: 250px;
}

.city img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.city-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.city:hover img {
    transform: scale(1.1);
}

.city-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.float-image {
  float: left;
  margin-right: 20px;
  width: 30%;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Aside */
aside {
    padding: 20px;
    background: #e9e9e9;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: white;
}

footer a {
    color: yellow;
    text-decoration: none;
}

/* Contact page */
.form-group {
    margin-bottom: 15px;
    width: 45%;
    float: left;
    margin-right: 5%;
}

.form-group-large {
    margin-bottom: 20px;
    width: 100%;
    clear: both;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

textarea {
    height: 120px;
    resize: vertical;
}

.submit-button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    float: left;
    clear: both;
}

.submit-button:hover {
    background-color: #005fa3;
}

.header-logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: auto;
}
